@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Pirata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*TELA P/ SMARTPHONE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrão);
}
:root {
    --cor01: #EBD96B;
    --cor02: #FFFFFF;
    --cor03: #000000;
    --cor04: #C2C8DA;
    --cor05: #F9DF56;
    --font-padrão: "Poppins", sans-serif;
}
html, body {
    overflow-x: hidden;
    min-width: 100%;
    height: 100vh;
}
main {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    min-width: 100%;
}
/*BRANDS*/
.brands {
    width: 100%;
    display: flex;
    background-color: var(--cor01);
    height: 3.5rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    overflow-y: hidden;
    overflow-x: scroll;
}
.brands img {
    margin-top: .3rem;
    height: 7rem;
}
/*BRANDS*/


/*SALE*/
.sale {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--cor05);
    width: 100%;
}
.sale_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor05);
}

.sale_text > p {
    text-align: justify;
}
.sale_text-0 {/*IMAGEM BRANCA*/
    background-image: url('../imagens/Rectangle\ 25.png');
    background-repeat: no-repeat;
    width: 15rem;
    height: 4.6rem;
    font-size: 3rem;
    padding: 0.7rem;
    margin-top: 2rem;
    font-weight: 900;
}
.sale_text-1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 900;
}
.sale_text-2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.sale_text-3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}
.sale_text-4 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 2rem;
}
.sale_button {
    background-color: var(--cor03);
    color: var(--cor02);
    padding: 0.8rem;
    padding-left: 2rem;
    font-weight: normal;
    width: 12.6rem;
    border: solid black;
    border-radius: 5px;
    font-size: 1.7rem;
    font-family: var(--font-padrão);
    text-decoration: none;
    cursor: pointer;
}
.sale_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9DF56;
    height: 26rem;
}
.sale_img-model {
    margin-top: 2rem;
    height: 38rem;
}
/*SALE*/


/*YOUNG*/
.young {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
}
.young_title {
    font-size: 2.4rem;
    font-weight: bolder;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    
}

.young_card {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
}
.young img {
    height: 14rem;
}
/*DESCRIÇÃO DAS IMAGENS, INÍCIO*/
.young_description {
    font-size: 18px;
    font-weight: bolder;
    line-height: 30px;
    letter-spacing: -4%;
    margin: 15px 0px;
}
.young_text {
    font-size: 15px;
    line-height: 0px;
    letter-spacing: -4%;
    color: #7F7F7F;
    text-decoration: none;
}
.young_text a {
    text-decoration: none;
    color: #7F7F7F;
}
/*DESCRIÇÃO DAS IMAGENS, FIM*/
/*YOUNG*/


