

@media screen and (min-width:705px) and (max-width: 1200px){
   .sale {
      object-fit: contain;
      display: flex;
      flex-direction: row;
      height: 32rem;
   }
   .sale_text {
      width: 55vw;
   }
   .sale_img {
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.5rem;
      width: 45vw;
      background-color: var(--cor05);
   }
   .sale_img-model {
      object-fit: contain;
      margin-top: 7.6rem;
      height: 48rem;
   }
   .young {
      display: flex;
      flex-direction: row;
      flex: 1;
      background-color:aquamarine;
   }
   .young img {
      height: 15rem;
   }
}
@media screen and (min-width: 1020px) {

}
